body{
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0068A5;
    width: 100%;
    height: auto;
}

#link-recuperar-senha {
    font-size: small;
}

#link-recuperar-senha:link {
    text-decoration: none;
    color: white;
}
  
#link-recuperar-senha:visited {
    text-decoration: none;
    color: white
}
  
#link-recuperar-senha:hover {
    text-decoration: underline;
    color: white
}
  
#link-recuperar-senha:active {
    text-decoration: underline;
    color: white
}

/*#login-box-externo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0068A5;
    width: 100%;
    height: auto;
}*/

#login-box-interno {
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #004a75;
    width: 300px;
    height: auto;
    padding: 50px;
}

#titulo-login {
    text-align: center;
    font-weight: bolder;
    color: white;
}

.box input[type = "text"], .box input[type = "password"]{
    background: #0068A5;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff8400;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
}

.box input[type = "text"]:hover, .box input[type = "password"]:hover {
    width: 150px;
    border-color: white;
    color: white;
}

.box input[class = "submit-btn"] {
    background: #0068A5;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff8400;
    padding: 14px 10px;
    width: 120px;
    outline: none;
    color: white;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bolder;
}

.box input[class = "submit-btn"]:hover {
    background: #ff8400;
    width: 150px;
    color: #0068A5;
    cursor: pointer;
}